/*
  Специально для тёмной темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-header-color: var(--color-purple-1);
  --title-background-fill: var(--color-pink-1);
  --title-background-fill2: var(--color-pink-1);
  --theme-switch-color: var(--color-pink-1);
  --subheader-color: var(--color-black-1);
  --section-header-color: var(--color-pink-1);
  --background-main-color: var(--color-black-1);
  --header-color: var(--color-pink-1);
  --text-color: var(--color-pink-2);
  --dec-color: var(--color-pink-1);
  --o-outline-color: var(--o-color-pink-2);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-dark .header {
  background-image: url(/images/cover-image-dark.png);
}

.theme-light .lamp {
  display: block;
}